app-home {
	display: block;
	height: 100%;

	.wrapper {
		background: #ecf0f5;
		overflow: hidden;
	}

	.logo-lg img {
		vertical-align:middle;
		width: 80%;
	}

	.box-header .box-title {
		padding: 10px 0px 0px;
	}

	ul.treeview-menu.active {
		 display: block;
	}

	a {
		cursor: pointer;
	}

	table th.actions {
		width: 6em;
	}

	table a {
		font-size: 1.3em;
		padding: 0.3em;
	}

	.has-feedback .input-group-addon {
		padding-right: 30px;
	}
	
	a .fa-sign-out {
		vertical-align: middle;
	}

	.breadcrumb a .fa {
		vertical-align: middle;
	}
}